[alias]
	a = add .

	b = branch
	br = branch -a
	bv = b -vv
	bnm = branch --no-merged

	c = commit
	ca = c -a
	# ca = commit --amend
	cam = c -am
	cc = c --amend
	ce = c --allow-empty
	cm = c -m
	co = checkout
	cob = co -b

	d = diff
	dev = co develop
	di = diff --no-index

	f = fetch
	ff = merge --ff-only
	fix = push -f

	i = init

	l = log --oneline
	ll = show -q
	llp = log -1 -p
	lls = log -1 --stat
	lo = log --oneline
	logp = log -p
	logs = log --stat
	lp = log -p
	ls = l --stat

	m = merge
	mas = co master
	mnf = merge --no-ff

	pop = stash pop

	r = remote
	rb = b --remotes
	rv = remote -v

	s = status -s
	sl = shortlog
	st = stash

	t = log --oneline --graph
	tap = ta -p
	tas = ta --stat
	tm = t master
	tmp = tm -p
	tms = tm --stat
	tp = t -p
	tree = log --oneline --graph --all
	ts = t --stat


	;hub= !cmd /c C:\Users\pikse\AppData\Local\GitHubDesktop\GitHubDesktop.exe
	;desktop = hub
	;kraken = !C:\Users\pikse\AppData\Local\gitkraken\run.cmd -p .
	;kraken = !gitkraken -p .
	timeline = log --graph  --format=format:\"%C(yellow)%h%C(reset) %C(bold green)(%ar) %C(bold dim cyan)%an %C(reset)%s\"
	uns = unstage
	ma = co main
	fa = fetch --all
	con = config
	bm = b --merged
	res = restore
	main = co main
	ds = d --cached
	count = rev-list --all --count
	sco = sparse-checkout
	wt = worktree
	ai = add -i
	cem = ce -m
	ss = status
	sa = s -uall
	ssa = ss -uall
	list = ssa
	la = log --all
	lsa = ls --all
	ra = r add
	addp = add -p
	ap = a -p
	rs = remote -v
	mb = b -m
	cca = cc -a
	p = pull
	pa = p --all
	pushall = push --all
	pusha = push --all
	brv = br -vv
	rr = co head .
	cei = cem 'Initial commit'
	stm = st push -m
	bD = b -D
	mkdev = cob develop
	ta = log --graph --oneline --all
	cmi = cm 'Initial commit'
	back = co backend
	front = co frontend
	tac = "!clear; git ta"
	tc = "!clear; git t"
	stl = st list
	cl = clone
	time = timeline
	cod = cob develop
	mm = m -m
	mnfm = mnf -m
	;jump = !git ca && git push

[user]
	name = Pixel48
	email = piksel48@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
[core]
	editor = nano
	autocrlf = true
	safecrlf = false
[branch]
	autoSetupMerge = simple
[push]
	default = upstream
